.container {
    background-color: #EAE8FE;
    ;
    margin: 0 auto;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;

}

.logo {
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.buy-before {
    background-color: rgb(255, 255, 255);
    padding: 31px 27px 28px 27px;


}




.buy-after {

    background-color: rgb(255, 0, 179);
}

.item-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 12px;



}

.purchasing-process {
    display: grid;
    grid-template-columns: 200fr 94fr;
    grid-gap: 12px;
    justify-items: flex-end
}

.item-list li {
    width: 94px;
    height: 130px;

    text-align: center;
    margin: 0px auto 12px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px;
    cursor: pointer;
}

.pro-name {
    font-size: 9px;
    color: #333333;
    margin: 7px 0;


}

.price {
    font-size: 12px;
    background-color: #6327FE;
    color: #fff;
    border-radius: 20px;
    width: 70px;
    height: 22px;
    margin: 0 auto;
    line-height: 20px;
}

.product-wrapper {
    padding: 11px;
}

.purchasing-btn,
.money-btn {
    width: 94px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px;
    font-size: 13px;
}

.money-btn {
    color: #000;
    background-color: #fff;
    height: 32px;
}

.purchasing-btn {
    height: 106px;
    background-color: #6327FE;
    color: #fff;
    font-weight: 700;
}

.balance {
    background-color: #EAE8FE;
    line-height: 30px;
    border-radius: 5px;
    font-size: 14px;
    width: 185px;
    height: 33px;
    padding-left: 15px;

}

.money-input {
    width: 200px;
    height: 33px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    width: 200px;
    height: 33px;
    padding-left: 15px;
    font-size: 13px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
}

.shopping-bag {
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-top: 6px;
    padding-right: 4px;
    box-sizing: border-box;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-color: #EAE8FE;
    width: 200px;
    height: 106px;




}

.shopping-list {
    overflow-y: scroll;
}

.shopping-item {
    margin: 6px auto;
    width: 170px;
    height: 46px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;

}

.shopping-list::-webkit-scrollbar {
    width: 4px;

}

.shopping-list::-webkit-scrollbar-thumb {
    height: 60%;
    background-color: #fff;
    border-radius: 50px;




}

.shopping-list::-webkit-scrollbar-track {
    background-color: #EAE8FE;
}

.shopping-item img {
    height: 33px;
}

.shopping-item-name {
    font-size: 9px;
    position: relative;
    right: 10px;
}

.shopping-num {
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 7px 10px;
}