body {
    background-color: #EAE8FE;

}

.container {
    background-color: #EAE8FE;
    ;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
    width: 100vw;


}

.logo {
    text-align: center;
}

.main {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;


}

.buy-before {
    background-color: rgb(255, 255, 255);
    padding: 31px 27px 0px 27px;


}





.item-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 12px;



}

.purchasing-process {
    display: grid;
    grid-template-columns: 200fr 94fr;
    grid-gap: 12px;
    justify-items: flex-end
}

.product-wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px;
    width: 94px;
    height: 130px;
    margin-bottom: 12px;
    font-size: 9px;
}

.product-wrapper-click {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px;
    width: 94px;
    height: 130px;
    margin-bottom: 12px;
    font-size: 9px;
    border: 3px solid #6327FE;

}


.pro-name {
    display: inline-block;
    font-size: 9px;
    color: #333333;
    margin: 6px 0;


}

.price {
    display: inline-block;
    font-size: 12px;
    background-color: #6327FE;
    color: #fff;
    border-radius: 20px;
    width: 70px;
    height: 22px;
    margin: 0 auto;
    line-height: 20px;
}

.product-wrapper {
    padding: 11px;
}

.purchasing-btn,
.money-btn {
    width: 94px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px;
    font-size: 13px;
}

.money-btn {
    color: #000;
    background-color: #fff;
    height: 32px;
}

.purchasing-btn {
    height: 106px;
    background-color: #6327FE;
    color: #fff;
    font-weight: 700;
}

.balance {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #EAE8FE;
    line-height: 30px;
    border-radius: 5px;
    font-size: 14px;
    width: 180px;
    height: 33px;
    padding-left: 10px;
    padding-right: 10px;

}

.balance-wapper {
    display: inline-block;
    text-align: right;
}

.balanceMoney {

    display: inline-block;


}

.money-input {
    width: 200px;
    height: 33px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    width: 200px;
    height: 33px;
    padding-left: 15px;
    font-size: 13px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
}

.shopping-bag {
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-top: 6px;
    padding-right: 4px;
    box-sizing: border-box;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-color: #EAE8FE;
    width: 200px;
    height: 106px;




}

.shopping-list {
    overflow-y: scroll;
}

.shopping-item {
    margin: 6px auto;
    width: 170px;
    height: 46px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;

}

.shopping-list::-webkit-scrollbar {
    width: 4px;

}

.shopping-list::-webkit-scrollbar-thumb {
    height: 60%;
    background-color: #fff;
    border-radius: 50px;




}

.shopping-list::-webkit-scrollbar-track {
    background-color: #EAE8FE;
}

.shopping-item img {
    height: 33px;
}

.shopping-item-name {
    font-size: 9px;
    position: relative;
    right: 10px;
}

.shopping-num {
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 7px 10px;
    width:8px; 
    height:19px;

}

.buy-after {
    width: 360px;
}

.money-have {
    background-color: #EAE8FE;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 15px;
    width: 306px;
    height: 32px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;



}

.buy-bag {
    width: min-content;
    margin: 0 auto;

}

.money-have-back {
    background-color: #fff;
    padding: 9px 27px;
    margin-bottom: 20px;


}

.taken-item {

    background-color: #fff;
}

.money-num {
    display: inline;
    margin-right: 10px;
    text-align: end;




}

.money-tit {

    display: inline;


}

.taken-item {
    height: 481px;
    text-align: center;
}

.buy-list::-webkit-scrollbar {
    width: 4px;

}

.buy-list::-webkit-scrollbar-thumb {
    height: 60%;
    background-color: #fff;
    border-radius: 50px;




}

.buy-list::-webkit-scrollbar-track {
    background-color: #EAE8FE;
}



.buy-list {
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
}

.buy-list::after {
    content: " ";
    display: block;
    border: 20px solid transparent;

}

.buy-list::after {
    content: " ";
    display: block;
    border: 500px solid transparent;
}

.buy-list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-top: 6px;
    padding-right: 4px;
    box-sizing: border-box;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-color: #EAE8FE;
    width: 306px;
    height: 364px;
    margin: 0 auto;
}

.buy-list {
    display: inherit
}

.buy-item {
    margin: 6px auto;
    width: 276px;
    height: 46px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;


}

.buy-item img {
    height: 33px;
    margin-left: 10px;
}

.buy-name {
    position: relative;
    right: 70px;
}

.buy-num {
    position: relative;
    right: 10px;
    
}

.buy-ber {
    display: inline-block;
    font-size: 14px;
    margin: 25px 0px 13px 0px;
    font-weight: 700;
}

/* .buy-bag{
    display: 
} */

.sum {
    position: relative;
    left: 115px;
    display: inline-block;
    font-size: 12px;
    margin: 10px 0 26px 0;
}


@media screen and (max-width: 360px) {
    .container {

        margin: 0 auto;
    }

    h1 img {
        width: 166px;


    }

    main {
        width: 360px;
    }

}

@media screen and (max-width: 720px) {
    .money-have-back {
        margin-bottom: 0;
    }

    .main {
        gap: 0;


    }
}